* {
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    transform-style: preserve-3d;
}

body {
    font-family: 'HelveticaNeueThin', 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'HelveticaNeue', 'Helvetica Neue', 'Open Sans', 'Arial', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-perspective:10000px;
    perspective:10000px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.backface-visible {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*20 blue dots*/
.blue-dot {
    background: radial-gradient(ellipse at center, rgba(22,139,221,.8) 0%, rgba(32,139,221,.8) 13%, rgba(22,170,238,.8) 22%, rgba(20,150,250,0.41) 33%, rgba(10,200,250,0.3) 40%, rgba(0,200,250,0.15) 50%, rgba(0, 200,250,0) 63%, rgba(0,200,250,0) 100%);
}
